.ejercicio{
  padding: 20px;
}


@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

nav{
  background-color:dodgerblue;
  margin: 0;
  height: 60px;
  padding: 0;
}

nav ul{
  padding-top: 20px;
  margin: auto;
  align-items: baseline;
 list-style: none;
 display: flex;
 justify-content: space-around;
}

.link{
  color: white;
  text-decoration: none;
  background-color:rebeccapurple;
  padding: 10px;
  border-radius: 10px;
  box-shadow: 2px 2px #444444 ;
}

#home{
  text-align: center;
}

#home ul{
  list-style: none;
}

.main-content{
  width: 50%;
  margin: 0 auto;
}
